html {
    width: 1440px
}


body {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    
}

.white_card {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 310px;
    height: 490px;
    
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border-radius: 20px;

}

.image {
    height: 290px;
    width: 280px;
    border-radius: 10px;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50% , -50%);

}

.text {
    position: relative;
    top: 140px;
    align-items: center;
    justify-content: center;
}

.bold {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

.thin {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
   
}